p{
    color: snow;
}
h2{
    color: snow;
}
h1{
    color: snow;
}

button{
    background-color: crimson;
    text-align: center;
    padding-left: 0lvi;
    color:snow;
    border-color: snow;
    
    
}





